doctype html
head
    meta(charset='UTF-8')
    title The Courtyard
    link(rel='stylesheet' type='text/css' href='/css/main.css')
    script(src="/js/main.js")
body(data-logged-in=loggedIn, data-username=username)
    h1 The Courtyard
    h2 Sign In
    include navbar.pug
    .form-div
        if error
            p.error Your username and/or password do not match an account that exists. Please try again.
        p.alert Please enter your username and password to login.
        br
        form.form(action='/api/login' method='post')
            label(for='username') Username: 
            input.input(type='text' name='username' required='')
            br
            label(for='password') Password: 
            input.input(type='password' name='password' required='')
            br
            input.input-button(type='submit' value='Login')